<div class="jumbotron">
  <h2>Welcome to the EZTravel receipt management app</h2>
  <p class="lead">
    <img src="images/travel.jpg" alt="Business travel"><br>
    Everything for your business travel needs.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="/login">Login<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Receipt management</h4>
  <p>
    Quickly photograph your receipts and upload them to the cloud.
  </p>

  <h4>View your trips</h4>
  <p>
    List your previous and planned trips and distribute your travel costs to the relevant trip.
  </p>
</div>
